$containerMaxWidth: 1290px;
$containerPadBot: 68px;
$containerPadTop: 68px;
$backgroundColor: #202020;
$backgroundColorBtn: #FF6E30;
$blackTextColor: #202020;
$greyTextColor: #999999;
$backgroundColorGrey: #E9E9E9;
$backgroundColorHeaderMobile: #4A4A4A;
$backgroundColorFooterMobile: #4A4A4A;
$colorTextGrey: #E9E9E9;
$whiteTextColor: #ffffff;
$whiteBackgroundClor: #ffffff;
$colorText: #CACACA;
$colorTel: #FF6E30;
$aboutInputColor: #4a4a4a;
$borderButton: #FF6E30;
$gap: 30px;

// hover

$colorOrange: #FF6E30;
$colorDarkOrange: #CE4307;
$colorBrown: #BC572B;
$colorWhite: #ffffff;
$colorLightGrey: #CACACA;